html, body {
    height: 100%;
}

#wrap {
    min-height: 100%;
    height: auto;
    margin: 0 auto -60px;
    padding: 0 0 75px;
}

#footer {
    height: 60px;
    padding-top: 15px;
    border-top: 1px solid #e5e5e5;
    font-size: 11px;
    color: slategray;
    background-color: #f5f5f5;
}

/* Custom page CSS
-------------------------------------------------- */
#wrap > .container {
    padding: 15px 15px 0;
}

.container {
    width: auto;
    max-width: 1600px;
    padding: 0 15px;
}

.container .text-muted {
    margin: 20px 0;
}

#footer > .container {
    padding-left: 15px;
    padding-right: 15px;
}

/* For simple left menu */
.nav-stacked > li + li {
    margin-top: 0px;
    margin-left: 0px;
}

.nav-pills > li > a {
    padding: 3px 6px;
    border-radius: 0;
}

.simple-header {
    font-weight: bold;
    background-color: #f5f5f5;
    color: #171717;
    text-transform: uppercase;
    font-size: 13px;
}

.nav > li.disabled > a {
    margin-top: 8px;
    color: #3b3b3b;
}

h1 {
    font-size: 28.5px;
    margin-top: 0;
}
h2 {
    font-size: 24.5px;
    margin-top: 0;
}
h3 {
    font-size: 20.5px;
    margin-top: 0;
}
h4 {
    font-size: 16.5px;
    margin-top: 0;
}
.page-header {
    padding-bottom: 9px;
    margin: 0 0 20px;
    border-bottom: 1px solid #eee;
}
.img-page {
    float: left;
    margin-right: 15px;
    margin-bottom: 5px;
    vertical-align: top;
}
.nowrap {
    white-space: nowrap;
    float: left;
    margin-right: 10px;
}