@import "admin-variables.less";

/* Global Styles */

body {
  margin-top: 100px;
  background-color: @body-background;
}

@media(min-width:768px) {
  body {
    margin-top: 50px;
  }
}

#wrapper {
  padding-left: 0;
}

#page-wrapper {
  width: 100%;
  padding: 0;
  background-color: @page-background;
}

@media(min-width:768px) {
  #wrapper {
    padding-left: @side-nav-width;
  }

  #page-wrapper {
    padding: 10px;
  }
}

/* Top Navigation */
.navbar-inverse {
  background-color: @top-nav-background;
}
.top-nav {
  padding: 0 15px;
  >li {
    display: inline-block;
    float: left;
    >a {
      padding-top: 15px;
      padding-bottom: 15px;
      line-height: 20px;
      color: @top-nav-a-color;
      &:focus {background-color: transparent;}
    }
  }
  >li>a:hover,
  >.open>a,
  >.open>a:hover,
  >.open>a:focus {
    color: @top-nav-a-hover-color;
    background-color: @top-nav-a-hover-background;
  }
  >.active>a, >.active>a:focus {
    background-color: @side-nav-active-background;
  }

  >.open>.dropdown-menu {
    float: left;
    position: absolute;
    margin-top: 0;
    border: 1px solid rgba(0,0,0,.15);
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    background-color: @dropdown-menu-background;
    -webkit-box-shadow: 0 6px 12px rgba(0,0,0,.175);
    box-shadow: 0 6px 12px rgba(0,0,0,.175);
    >li>a {
      white-space: nowrap; //В одну строка
    }
  }
}

.top-nav > .open > .dropdown-menu.message-dropdown > li > a {
  white-space: normal;
}


/* Side Navigation */

@media(min-width:768px) {
  .side-nav {
    position: fixed;
    top: 51px;
    left: @side-nav-width;
    width: @side-nav-width;
    margin-left: -@side-nav-width;
    border: none;
    border-radius: 0;
    overflow-y: auto;
    bottom: 0;
    overflow-x: hidden;
    padding-bottom: 20px;

    >li>a {
      width: @side-nav-width;
      line-height: 16px;
      padding-top: 10px;
      padding-bottom: 10px;
      &:hover {
        outline: none;
      }
    }
  }
}


.side-nav {
  background-color: @side-nav-background;
  >li>a {
    color: @side-nav-a-color;
    border-bottom: 1px solid @side-nav-border-bottom-color;
    &:hover {
      color: @side-nav-a-hover-color;
      background-color: @side-nav-a-hover-background;
    }
    &:focus {background-color: transparent;}
  }
  >.active>a, >.active>a:focus {
    background-color: @side-nav-active-background;
  }
  .collapse li, .collapsing li {
    background-color: @side-nav-collapse-background;
    a:hover {
      background-color: @side-nav-active-background;
      color: @side-nav-colapsed-a-hover-color;
    }
    a:before {
      content: "";
      transition: margin ease 0.5s;
    }
    a:hover:before, &.active a:before {
      margin-right: 10px;
    }
    a .fa-fw {
      float: left;
      margin-right: 3px;
      margin-top: 4px;
    }
  }

  // ToDo arrows
  a.dropdown-toggle:after {
    content: "\f107";
    font-family: FontAwesome;
    float: right;
    margin-right: 10px;
  }
  a.dropdown-toggle.collapsed:after {
    content: "\f105";
    font-family: FontAwesome;
    float: right;
    margin-right: 10px;
  }
}

// Dropdown side-nav
.side-nav>li>ul {
  padding: 0;
  >li>a {
    display: block;
    font-size: 12px;
    padding: 10px 15px 10px 38px;
    text-decoration: none;
    color: @side-nav-a-color;
    border-bottom: 1px solid @side-nav-collapse-border-bottom-color;
    &:hover {
      color: @side-nav-colapsed-a-hover-color;
    }
  }
  >li.active>a {
    color: @side-nav-colapsed-a-active-color;
  }
}


/*  Messages in dropdown  */

ul.message-dropdown {
  padding: 0;
  max-height: 250px;
  overflow-x: hidden;
  overflow-y: auto;
}

li.message-preview {
  width: 275px;
  border-bottom: 1px solid rgba(0,0,0,.15);
}

li.message-preview>a {
  padding-top: 15px;
  padding-bottom: 15px;
}

li.message-footer {
  margin: 5px 0;
}

ul.alert-dropdown {
  min-width: 200px;
}


h1 {
  font-size: 28.5px;
  margin-top: 0;
}
h2 {
  font-size: 24.5px;
  margin-top: 0;
}
h3 {
  font-size: 20.5px;
  margin-top: 0;
}
h4 {
  font-size: 16.5px;
  margin-top: 0;
}
.page-header {
  padding-bottom: 9px;
  margin: 5px 0 20px;
  border-bottom: 1px solid #eee;
}
.icon_actions {
  white-space: nowrap;
}
.help-block {
  font-size: 12px;
}
.btn-categories {
  margin: 2px 3px 2px 0;
}
.btn-statuses {
  margin: 2px 0 2px 0;
}
.img-single,
.img-multi {
  float: left;
  margin-right: 20px;
}
