// Variables

@background: #515151;
// @background: #fff;


@body-background: #fff;
@page-background: #fff;

@top-nav-background: @background;
@top-nav-a-color: #c4c4c4;
@top-nav-a-hover-color: #dddddd;
@top-nav-a-hover-background: #444444;
@dropdown-menu-background: #fff;

@side-nav-border-bottom-color: #585858;
@side-nav-collapse-border-bottom-color: #515151;

@side-nav-background: @background;
@side-nav-a-hover-background: #444444;
@side-nav-active-background: #373737;
@side-nav-collapse-background: #444444;

@side-nav-a-color: #c4c4c4;
@side-nav-a-hover-color: #dddddd;

@side-nav-colapsed-a-hover-color: #fff;
@side-nav-colapsed-a-active-color: #fff;

@side-nav-width: 270px;